.select-notebook {
  min-width: 8rem;
  flex-grow: 1;
  max-width: 12rem;
  /* override Quill's toolbar z-index:1 */
  z-index: 2;
}

.select-tag {
  min-width: 12rem;
  flex-grow: 1;
  max-width: 30rem;
  margin-left: 1rem;
  /* override Quill's toolbar z-index:1 */
  z-index: 2;
  /* height: 3rem; */
  /* if i change the height it will drift upwards */
  /* max-height: 64px; */
}
