.select-notebook {
  min-width: 8rem;
  flex-grow: 1;
  max-width: 12rem;
}

.select-tag {
  min-width: 12rem;
  flex-grow: 1;
  max-width: 30rem;
  margin-left: 1rem;
  /* height: 3rem; */
  /* if i change the height it will drift upwards */
  /* max-height: 64px; */
}
/* .select-tag div:first-child {
  max-height: 60px;
  color: red;
} */
