.drawer {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 75vw;
}

.drawer-visible {
  /* width: 70%; */
  transform: translateX(0);
}

.drawer-hidden {
  /* width: 0; */
  transform: translateX(-100vw);
}

.close-drawer-btn {
  background: transparent;
  border: 1px solid tomato;
  border-radius: 10%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
}

.close-drawer-btn:active {
  transform: translateY(1px);
  filter: saturate(100%);
  border: 1px dashed red;
}

/* .platypus-logo {
  position: absolute;
  left: 1rem;
  top: 1rem;
} */

.drawer-email {
  color: white;
  position: absolute;
  left: 1rem;
  top: 6rem;
}

.drawer-ul {
  color: white;
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.drawer-li {
  color: white;
  display: flex;
  margin: 0.25rem 0;
  padding: 0.75rem 0;
}

.drawer-icon {
  margin: 0 1rem;
}
