.navigation {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 3rem;
  width: 100%;
}

.nav-button {
  background: transparent;
  outline: none;
  border-radius: 4px;
}

.nav-button:active {
  transform: translateY(1px);
}
.nav-button:hover {
  border-color: currentColor;
  background-color: #ffb733;
}
.nav-label {
  width: 50%;
  text-align: left;
}

/* moved it to app.css 
@media screen and (min-width: 992px) {
  .nav-hamburger {
    margin: 0 5rem;
  }
} */
