.mask {
  height: 100vh;
  width: 100vw;
  background-color: #ffd0b0;
  position: absolute;
}

/* input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

input[type="password"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
} */

.authscreen {
  margin-top: 2rem;
}

/* .card-action {
  display: flex;
  justify-content: center;
} */

.btn:focus {
  border: 1px solid indigo !important;
  box-sizing: border-box;
  box-shadow: 0 8px 17px 0 rgba(69, 61, 116, 0.2),
    0 6px 20px 0 rgba(69, 61, 116, 0.19);
}

.card-action button {
  margin: 0.51rem 3rem;
  border: 1px solid #e0f7fa;
}

@media screen and (min-width: 600px) {
  .authscreen {
    max-width: 85%;
  }
}
@media screen and (min-width: 992px) {
  .authscreen {
    max-width: 50%;
  }
}
